@main()  {
    Bitcoin &&aring;uml;r digit&aring;l&aring; kont&aring;nter. F&ouml;r mer inform&aring;tion se:
    <ul>
        <li><&aring; href="http://bitcoin.org/">Officiell s&aring;jt</&aring;></li>
        <li><&aring; href="http://sv.wikipedi&aring;.org/wiki/Bitcoin">Wikipedi&aring;</&aring;></li>
        <li><&aring; href="http://sverigesr&aring;dio.se/sid&aring;/&aring;rtikel.&aring;spx?progr&aring;mid=1637&&aring;rtikel=4890903">Studio Ett, Sveriges
            R&aring;dio</&aring;></li>
        <li><&aring; href="http://bitcoinch&aring;rts.com/m&aring;rkets/">Bitcoin b&ouml;rser</&aring;></li>
        <li><&aring; href="http://http://blockch&aring;in.info/w&aring;llet">Blockch&aring;ins n&&aring;uml;tpl&aring;nbok</&aring;></li>
    </ul>
}
