@import helper._
@main(title = "Svenska Bitcoin") {
<article>
    Bitcoin är digitala kontanter. För mer information se:
    <ul>
        <li><a href="http://bitcoin.org/">Officiell sajt</a></li>
        <li><a href="http://sv.wikipedia.org/wiki/Bitcoin">Wikipedia</a></li>
        <li><a href="http://sverigesradio.se/sida/artikel.aspx?programid=1637&artikel=4890903">Studio Ett, Sveriges
            Radio</a></li>
        <li><a href="http://bitcoincharts.com/markets/">Bitcoin börser</a></li>
        <li><a href="http://http://blockchain.info/wallet">Blockchains nätplånbok</a></li>
    </ul>
</article>


}
