@(user:Option[org.bitcex.model.User]=None)
@main(user=user)  {
<p>
Bitcoin &auml;r digitala kontanter. F&ouml;r mer information se:
</p>
<p>
<ul>
    <li><a href="http://bitcoin.org/">Officiell sajt</a></li>
    <li><a href="http://sv.wikipedia.org/wiki/Bitcoin">Wikipedia</a></li>
    <li><a href="http://sverigesradio.se/sida/artikel.aspx?programid=1637&artikel=4890903">Studio Ett, Sveriges
        Radio</a></li>
    <li><a href="http://bitcoincharts.com/markets/">Bitcoin börser</a></li>
    <li><a href="http://blockchain.info/wallet">Blockchains nätplånbok</a></li>
</ul>
</p>
}
