@(buyForm: Form[(String,String)])
@import helper._
@main(title = "Svenska Bitcoin") {
<article>
    <p>
        Vi säljer bitcoin till marknadspris. Du säger hur mycket du vill köpa för.
        Priset per bitcoin avgörs när vi mottagit pengarna, vi överför då bitcoinen till adressen du anget.
        <em>Var noga när du anger din mottagningsadress.</em>
    </p>

    @form(action = routes.Application.buy, args = 'id -> "buy") {
    @inputText(
    field = buyForm("amount"),
    args = 'label -> "Belopp i kr"
    )

    @inputText(
    field = buyForm("address"),
    args = 'label -> "Bitcoinadress"
    )

    <p class="buttons">
        <input type="submit" value="Köp">

    <p>
</article>
}
}