@(user: Option[User], buyForm: Form[(String,String)])
@import helper._
@main(user=user) {
    <p>
        Vi s&auml;ljer bitcoin till marknadspris. Du s&auml;ger hur mycket du vill k&ouml;pa f&ouml;r.
        Priset per bitcoin avg&ouml;rs n&auml;r vi mottagit pengarna, vi &ouml;verf&ouml;r d&aring; bitcoinen till adressen du anget.
        <em>Var noga n&auml;r du anger din mottagningsadress.</em>
    </p>

    @form(action = routes.Application.buy, args = 'id -> "buy") {
    @inputText(
    field = buyForm("amount"),
    args = 'label -> "Belopp i kr"
    )

    @inputText(
    field = buyForm("address"),
    args = 'label -> "Bitcoinadress"
    )

    <p class="buttons">
        <input type="submit" value="K&ouml;p">
    <p>
}
}
