@(registerForm: Form[(String,String)])
@import helper._
@main(title = "Svenska Bitcoin") {

    <h1>Köp och sälj bitcoin</h1>
    <p>Svenska Bitcoin är en svensk handelsplats för bitcoin.
        Vi handlar i svenska kronor via konton i svenska banker, plus och bankgiro.
    </p>
    <p>Tanken är att göra det enkelt att köpa och sälja bitcoin.</p>

  <!--
    <p>Vill du få ett mejl när vi öppnar, registrera dig nedan</p>

    @form(action = routes.Application.register, args = 'id -> "register") {
        @inputText(
            field = registerForm("name"),
            args = 'label -> "Ditt namn"
        )
        @inputText(
            field = registerForm("email"),
            args = 'label -> "Din mejladress"
        )
    <p class="buttons">
         <input type="submit">
     <p>

 -->

<iframe src="https://docs.google.com/a/svenskabitcoin.se/spreadsheet/embeddedform?formkey=dG9oa3FLUGNtcFI0SW5qUHpWZktUVlE6MQ" width="760" height="713" frameborder="0" marginheight="0" marginwidth="0">Läser in...</iframe>

    }

}
