@(form: Form[(String,String)])(implicit flash: Flash)
@main() {

    <section id="login">
        <p>Svenska bitcoin är endast öppet för betatestare.<p/>
        <p>Vill du bli testare skicka ett <a href="mailto:info@@svenskabitcoin.se">mejl</a> till oss.</p>

        @helper.form(routes.NotLoggedIn.authenticate) {
        @form.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
        }
        @flash.get("success").map { message =>
        <p class="success">
            @message
        </p>
        }
        <p>
            <input type="email" name="email" placeholder="Email" value="@form(" email").value">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <button type="submit">Login</button>
        </p>
        }
    </section>

    <!--section id="register">
        <p>Registrera ny anv&auml;ndare</p>
        <form action="register">
            <p>
                <button type="submit">Registrera</button>
            </p>
        </form>
    </section-->

}

