@(form: Form[(String,String)])(implicit flash: Flash)
@main(title = "Svenska Bitcoin") {

<article>
    <section>
        För att kunna handla på Svenska bitcoin behöver du logga in.

        @helper.form(routes.NotLoggedIn.authenticate) {
        @form.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
        }
        @flash.get("success").map { message =>
        <p class="success">
            @message
        </p>
        }
        <p>
            <input type="email" name="email" placeholder="Email" value="@form(" email").value">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <button type="submit">Login</button>
        </p>
        }
    </section>

    <section>
        <p>Registrera ny användare</p>
        <form action="register">
            <p>
                <button type="submit">Registrera</button>
            </p>
        </form>
    </section>

</article>
}

