@(title: String = "Svenska Bitcoin", user:Option[org.bitcex.model.User] = None )(content: Html)
<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <header>
            <a href="@routes.Application.home" id="logo">@title</a>
            @if(user.isDefined) {
            <dl id="user">
                <dt>@user.get.name <span>(@user.get.email)</span></dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
            }
        </header>

        <nav>
            <section>
            <ul>
                <li><a href="buy">K&ouml;pa</a></li>
                <li><a href="sell">S&auml;lja</a></li>
                <li><a href="login">Logga in</a></li>
                <li><a href="about">Om oss</a></li>
                <li><a href="bitcoin">Om Bitcoin</a><li>
            </ul>
            </section>
        </nav>

        <section id="main">
            <article>
            @content
            </article>
        </section>
         <footer>
         Svenska Bitcoin, <a href="mailto:info@@svenskabitcoin.se">info@@svenskabitcoin.se</a>
          </footer>
    </body>
</html>
