@(title: String = "Svenska Bitcoin", user:Option[User] = None )(content: Html)
<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <header>
            @if(user.isDefined) {
            <a href="@routes.Application.home" id="logo">@title</a>
            <dl id="user">
                <dt>@user.get.name.value <span>(@user.get.email.value)</span></dt>
                <dt>@user.get.balance.sek.value SEK</dt>
                <dt>@user.get.balance.btc.value BTC</dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
            } else {
            <a href="@routes.NotLoggedIn.index" id="logo">@title</a>
            }
        </header>

        <nav>
            <section>
            <ul>
                @if(user.isDefined) {
                    <li><a href="@routes.Application.bidOrder">K&ouml;porder</a></li>
                    <li><a href="@routes.Application.askOrder">S&auml;ljorder</a></li>
                    <li><a href="@routes.Application.home">Saldo</a></li>
                    <li><a href="@routes.Application.userOrders">Mina order</a></li>
                    <li><a href="@routes.Application.trades">Mina Avslut</a></li>
                    <li><a href="@routes.Funds.index">Överföringar</a></li>
                } else {
                    <li><a href="@routes.NotLoggedIn.login">Logga in</a></li>
                }
                <li><a href="@routes.Application.orders">Orderbok</a></li>
                <li><a href="about">Om oss</a></li>
                <li><a href="bitcoin">Om Bitcoin</a><li>
            </ul>
            </section>
        </nav>

        <section id="main">
            <article>
            @content
            </article>
        </section>
         <footer>
         Svenska Bitcoin, <a href="mailto:info@@svenskabitcoin.se">info@@svenskabitcoin.se</a>
          </footer>
    </body>
</html>
