@(user:Option[User], sellForm: Form[(String,String,String)])
@import helper._
@main(user=user){
<p>
    Vi k&ouml;per bitcoin till marknadspris. Du &ouml;verf&ouml;r bitcoin till oss .
    Priset per bitcoin avg&ouml;rs n&auml;r vi mottagit &ouml;verf&ouml;ringen, vi &ouml;verf&ouml;r d&aring; pengarna till kontot du anget.
</p>

   @form(action = routes.Application.sell, args = 'id -> "sell") {
       @inputText(
           field = sellForm("amount"),
           args = 'label -> "Belopp i BTC"
       )

    @inputText(
        field = sellForm("bank"),
        args = 'label -> "Bank"
    )

    @inputText(
       field = sellForm("account"),
       args = 'label -> "Konto"
)

   <p class="buttons">
        <input type="submit" value="S&auml;lj">
    <p>
    }
}
